# Development example
POSTGRES_DB=certiflow_development_database
POSTGRES_USER=your_dev_user
POSTGRES_PASSWORD=your_dev_password

APP_ENVIRONMENTAL_LABEL=Dev
ASPNETCORE_ENVIRONMENT=Development

Production example
POSTGRES_DB=certiflow_production_database
POSTGRES_USER=your_prod_user
POSTGRES_PASSWORD=your_prod_password

APP_ENVIRONMENTAL_LABEL=Prod
ASPNETCORE_ENVIRONMENT=Production

# Seed user (optional)
SEED_USER_PASSWORD=change_me_if_used