# .NET / Blazor
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.rsuser

# Build output
publish/
Release/
Debug/

# Secrets / config
.env
.env.*
.env.dev
.env.local
!.env.example
appsettings.Development.json
appsettings.Local.json
secrets.json

# Logs
logs/
*.log

# OS/editor
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml

# db
postgres_data/
postgres_data_dev/